* {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    overflow: hidden;
    background: #050505;
    font-family: Arial, sans-serif;
}

#game {
    position: relative;
    width: 100vw;
    height: 100vh;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    background: #111;
}


/* HUD */

#hud {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    padding: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(0,0,0,.75);

    color: white;
}

.brand {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 3px;
}

.brand small {
    display: block;

    margin-top: 3px;

    font-size: 7px;
    letter-spacing: 2px;

    color: #777;
}

.date {
    text-align: center;
}

.date b {
    display: block;
    font-size: 12px;
}

.date span {
    color: #888;
    font-size: 10px;
}

.stats {
    display: flex;
    gap: 12px;

    font-size: 11px;
}


/* MESSAGE */

#message {
    position: absolute;

    left: 50%;
    bottom: 90px;

    transform: translateX(-50%);

    padding: 10px 15px;

    background: rgba(0,0,0,.8);

    border: 1px solid #444;

    color: white;

    font-size: 12px;

    opacity: 0;

    transition: .2s;
}

#message.show {
    opacity: 1;
}


/* INTERACTION */

#interaction {
    position: absolute;

    left: 50%;
    top: 75px;

    transform: translateX(-50%);

    display: none;
}

#interactionText {
    padding: 8px 15px;

    background: rgba(0,0,0,.85);

    border: 1px solid #555;

    color: white;

    font-size: 11px;
}


/* MOBILE */

#controls {
    position: absolute;

    left: 20px;
    bottom: 20px;

    text-align: center;
}

#controls button,
#interact {
    border: 1px solid #555;

    background: rgba(0,0,0,.75);

    color: white;

    width: 52px;
    height: 52px;

    font-size: 18px;
}

#controls button:active,
#interact:active {
    background: #333;
}

#interact {
    position: absolute;

    right: 20px;
    bottom: 35px;

    width: 100px;

    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
}

@media (min-width: 800px) {

    #controls,
    #interact {
        opacity: .5;
    }
}
